@import './index.css';

.gradient-background {
    background: linear-gradient(26deg, #325fff, #ff4cc2, #ffc93f);
    background-size: 300% 150%;
    animation: Background 20s ease infinite;
}

.gradient-background-reverse {
    background: linear-gradient(26deg, #ffc93f, #ff4cc2, #325fff);
    background-size: 300% 150%;
    animation: Background 20s ease infinite;
}

.gradient-text {
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes Background {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: 247, 244, 255;
        --text: 9, 0, 27;
        --primary: 50, 95, 255;
        --secondary: 255, 76, 194;
        --accent: 255, 201, 63;
        --link: 122, 142, 255;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 247, 244, 255;
        --text: 9, 0, 27;
        --primary: 50, 95, 255;
        --secondary: 255, 76, 194;
        --accent: 255, 201, 63;
        --link: 122, 142, 255;
    }
}

* {
    font-family: 'poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-style: normal;
    font-size: unset;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 100;
        transform: translateY(0);
    }
}

.fadeUp {
    animation: fadeUp 0.5s;
}

.fadeDown {
    animation: fadeDown 0.5s;
}

.fadeLeft {
    animation: fadeLeft 0.5s;
}

.fadeRight {
    animation: fadeRight 0.5s;
}