@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans-Regular'),
        url('./fonts/Work_Sans/static/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans-SemiBold'),
        url('./fonts/Work_Sans/static/WorkSans-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans-Light'),
        url('./fonts/Work_Sans/static/WorkSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Overpass';
    src: local('Overpass-Black'),
        url('./fonts/Overpass/static/Overpass-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Overpass';
    src: local('Overpass-Bold'),
        url('./fonts/Overpass/static/Overpass-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Overpass';
    src: local('Overpass-Medium'),
        url('./fonts/Overpass/static/Overpass-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Overpass';
    src: local('Overpass-Regular'),
        url('./fonts/Overpass/static/Overpass-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
